-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: it_asset_lifecycle
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `access_softwareaccess`
--

DROP TABLE IF EXISTS `access_softwareaccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `access_softwareaccess` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `software_name` varchar(100) NOT NULL,
  `access_level` varchar(50) NOT NULL,
  `granted_on` datetime(6) NOT NULL,
  `status` varchar(20) NOT NULL,
  `revoked_on` datetime(6) DEFAULT NULL,
  `is_archived` tinyint(1) NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `archived_by_id` bigint DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  `granted_by_id` bigint DEFAULT NULL,
  `revoked_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `access_softwareaccess_archived_by_id_b4e6b136_fk_users_user_id` (`archived_by_id`),
  KEY `access_softwareacces_employee_id_7df35ffc_fk_employees` (`employee_id`),
  KEY `access_softwareaccess_granted_by_id_b7ca05ab_fk_users_user_id` (`granted_by_id`),
  KEY `access_softwareaccess_revoked_by_id_1e39f53d_fk_users_user_id` (`revoked_by_id`),
  CONSTRAINT `access_softwareacces_employee_id_7df35ffc_fk_employees` FOREIGN KEY (`employee_id`) REFERENCES `employees_employee` (`id`),
  CONSTRAINT `access_softwareaccess_archived_by_id_b4e6b136_fk_users_user_id` FOREIGN KEY (`archived_by_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `access_softwareaccess_granted_by_id_b7ca05ab_fk_users_user_id` FOREIGN KEY (`granted_by_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `access_softwareaccess_revoked_by_id_1e39f53d_fk_users_user_id` FOREIGN KEY (`revoked_by_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `access_softwareaccess`
--

LOCK TABLES `access_softwareaccess` WRITE;
/*!40000 ALTER TABLE `access_softwareaccess` DISABLE KEYS */;
INSERT INTO `access_softwareaccess` VALUES (1,'gmail','','2026-07-24 10:45:00.682853','revoked','2026-07-16 18:00:00.000000',0,NULL,NULL,1,28,28),(2,'GitHub','Admin','2026-07-24 10:54:35.876049','revoked','2026-07-24 11:34:54.130665',0,NULL,NULL,1,10,10),(3,'GitHub','Admin','2026-07-24 11:03:39.886985','revoked','2026-07-24 11:13:27.021854',0,NULL,NULL,1,10,10),(4,'gmail','standard','2026-07-24 11:45:10.265505','revoked','2026-07-24 11:45:27.652729',0,NULL,NULL,2,10,10),(5,'slack','middle','2026-07-25 04:36:30.676254','revoked','2026-07-25 04:45:48.982623',0,NULL,NULL,1,10,10);
/*!40000 ALTER TABLE `access_softwareaccess` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets_asset`
--

DROP TABLE IF EXISTS `assets_asset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assets_asset` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `asset_id` varchar(20) NOT NULL,
  `brand` varchar(100) NOT NULL,
  `model_name` varchar(100) NOT NULL,
  `serial_number` varchar(100) NOT NULL,
  `asset_issue_date` date DEFAULT NULL,
  `asset_return_date` date DEFAULT NULL,
  `status` varchar(25) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `assigned_to_id` bigint DEFAULT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `condition` varchar(20) NOT NULL,
  `is_archived` tinyint(1) NOT NULL,
  `warranty_expiry_date` date DEFAULT NULL,
  `acknowledged_at` datetime(6) DEFAULT NULL,
  `acknowledgment_requested_at` datetime(6) DEFAULT NULL,
  `category_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `asset_id` (`asset_id`),
  UNIQUE KEY `serial_number` (`serial_number`),
  KEY `assets_asset_assigned_to_id_79cd9dd3_fk_employees_employee_id` (`assigned_to_id`),
  KEY `assets_asset_category_id_b30c6baf_fk_master_da` (`category_id`),
  CONSTRAINT `assets_asset_assigned_to_id_79cd9dd3_fk_employees_employee_id` FOREIGN KEY (`assigned_to_id`) REFERENCES `employees_employee` (`id`),
  CONSTRAINT `assets_asset_category_id_b30c6baf_fk_master_da` FOREIGN KEY (`category_id`) REFERENCES `master_data_assetcategory` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets_asset`
--

LOCK TABLES `assets_asset` WRITE;
/*!40000 ALTER TABLE `assets_asset` DISABLE KEYS */;
/*!40000 ALTER TABLE `assets_asset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets_assetallocationhistory`
--

DROP TABLE IF EXISTS `assets_assetallocationhistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assets_assetallocationhistory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assigned_date` date NOT NULL,
  `returned_date` date DEFAULT NULL,
  `remarks` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `asset_id` bigint DEFAULT NULL,
  `assigned_by_id` bigint DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `acknowledged_at` datetime(6) DEFAULT NULL,
  `acknowledgment_status` varchar(20) NOT NULL,
  `asset_id_snapshot` varchar(20) NOT NULL,
  `asset_name_snapshot` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `assets_assetallocati_assigned_by_id_ad23fe8a_fk_users_use` (`assigned_by_id`),
  KEY `assets_assetallocati_employee_id_56757744_fk_employees` (`employee_id`),
  KEY `assets_assetallocati_asset_id_5d431785_fk_assets_as` (`asset_id`),
  CONSTRAINT `assets_assetallocati_asset_id_5d431785_fk_assets_as` FOREIGN KEY (`asset_id`) REFERENCES `assets_asset` (`id`),
  CONSTRAINT `assets_assetallocati_assigned_by_id_ad23fe8a_fk_users_use` FOREIGN KEY (`assigned_by_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `assets_assetallocati_employee_id_56757744_fk_employees` FOREIGN KEY (`employee_id`) REFERENCES `employees_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets_assetallocationhistory`
--

LOCK TABLES `assets_assetallocationhistory` WRITE;
/*!40000 ALTER TABLE `assets_assetallocationhistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `assets_assetallocationhistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_auditlog`
--

DROP TABLE IF EXISTS `audit_auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_auditlog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(20) NOT NULL,
  `model_name` varchar(100) NOT NULL,
  `object_id` int unsigned NOT NULL,
  `description` longtext NOT NULL,
  `ip_address` char(39) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_auditlog_user_id_c1cca96c_fk_users_user_id` (`user_id`),
  CONSTRAINT `audit_auditlog_user_id_c1cca96c_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `audit_auditlog_chk_1` CHECK ((`object_id` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=219 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_auditlog`
--

LOCK TABLES `audit_auditlog` WRITE;
/*!40000 ALTER TABLE `audit_auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_users_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_document`
--

DROP TABLE IF EXISTS `documents_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents_document` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document_type` varchar(30) NOT NULL,
  `document_file` varchar(100) DEFAULT NULL,
  `verification_status` varchar(20) NOT NULL,
  `verified_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `employee_id` bigint NOT NULL,
  `verified_by_id` bigint DEFAULT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `is_archived` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Documents_document_employee_id_b3e07cee_fk_employees_employee_id` (`employee_id`),
  KEY `Documents_document_verified_by_id_c5837929_fk_users_user_id` (`verified_by_id`),
  CONSTRAINT `Documents_document_employee_id_b3e07cee_fk_employees_employee_id` FOREIGN KEY (`employee_id`) REFERENCES `employees_employee` (`id`),
  CONSTRAINT `Documents_document_verified_by_id_c5837929_fk_users_user_id` FOREIGN KEY (`verified_by_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_document`
--

LOCK TABLES `documents_document` WRITE;
/*!40000 ALTER TABLE `documents_document` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees_employee`
--

DROP TABLE IF EXISTS `employees_employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employees_employee` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(20) NOT NULL,
  `department` varchar(100) NOT NULL,
  `designation` varchar(100) NOT NULL,
  `date_of_joining` date NOT NULL,
  `current_status` varchar(20) NOT NULL,
  `reporting_manager_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `alternate_mobile_number` varchar(15) NOT NULL,
  `blood_group` varchar(5) NOT NULL,
  `confirmation_date` date DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `emergency_contact_name` varchar(100) NOT NULL,
  `emergency_contact_number` varchar(15) NOT NULL,
  `emergency_contact_relationship` varchar(50) NOT NULL,
  `employee_type` varchar(20) NOT NULL,
  `exit_date` date DEFAULT NULL,
  `first_name` varchar(50) NOT NULL,
  `gender` varchar(10) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `last_working_date` date DEFAULT NULL,
  `middle_name` varchar(50) NOT NULL,
  `mobile_number` varchar(15) NOT NULL,
  `notice_period_start_date` date DEFAULT NULL,
  `official_email` varchar(254) NOT NULL,
  `personal_email` varchar(254) NOT NULL,
  `probation_end_date` date DEFAULT NULL,
  `profile_photo` varchar(100) DEFAULT NULL,
  `status_start_date` date DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `updated_by_id` bigint DEFAULT NULL,
  `work_mode` varchar(10) NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `archived_by_id` bigint DEFAULT NULL,
  `is_archived` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `employees_employee_reporting_manager_id_47ea9580_fk_employees` (`reporting_manager_id`),
  KEY `employees_employee_created_by_id_bfa47e39_fk_users_user_id` (`created_by_id`),
  KEY `employees_employee_updated_by_id_546c8556_fk_users_user_id` (`updated_by_id`),
  KEY `employees_employee_archived_by_id_f40763de_fk_users_user_id` (`archived_by_id`),
  CONSTRAINT `employees_employee_archived_by_id_f40763de_fk_users_user_id` FOREIGN KEY (`archived_by_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `employees_employee_created_by_id_bfa47e39_fk_users_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `employees_employee_reporting_manager_id_47ea9580_fk_employees` FOREIGN KEY (`reporting_manager_id`) REFERENCES `employees_employee` (`id`),
  CONSTRAINT `employees_employee_updated_by_id_546c8556_fk_users_user_id` FOREIGN KEY (`updated_by_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `employees_employee_user_id_27bed289_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees_employee`
--

LOCK TABLES `employees_employee` WRITE;
/*!40000 ALTER TABLE `employees_employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees_employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_data_assetcategory`
--

DROP TABLE IF EXISTS `master_data_assetcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_data_assetcategory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `code` varchar(50) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_archived` tinyint(1) NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `created_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `code` (`code`),
  KEY `master_data_assetcat_created_by_id_416c56ca_fk_users_use` (`created_by_id`),
  CONSTRAINT `master_data_assetcat_created_by_id_416c56ca_fk_users_use` FOREIGN KEY (`created_by_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_data_assetcategory`
--

LOCK TABLES `master_data_assetcategory` WRITE;
/*!40000 ALTER TABLE `master_data_assetcategory` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_data_assetcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications_notification`
--

DROP TABLE IF EXISTS `notifications_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `message` longtext NOT NULL,
  `notification_type` varchar(20) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `recipient_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifi_recipient_id_d055f3f0_fk_users_use` (`recipient_id`),
  CONSTRAINT `notifications_notifi_recipient_id_d055f3f0_fk_users_use` FOREIGN KEY (`recipient_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications_notification`
--

LOCK TABLES `notifications_notification` WRITE;
/*!40000 ALTER TABLE `notifications_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offboarding_offboardingchecklist`
--

DROP TABLE IF EXISTS `offboarding_offboardingchecklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offboarding_offboardingchecklist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `resignation_date` date DEFAULT NULL,
  `exit_reason` varchar(20) NOT NULL,
  `exit_interview_status` varchar(20) NOT NULL,
  `asset_recovery_status` tinyint(1) NOT NULL,
  `access_revocation_status` tinyint(1) NOT NULL,
  `manager_clearance_status` tinyint(1) NOT NULL,
  `hr_clearance_status` tinyint(1) NOT NULL,
  `final_clearance_status` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `employee_id` bigint NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `is_archived` tinyint(1) NOT NULL,
  `offboarding_completion_percentage` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  CONSTRAINT `offboarding_offboard_employee_id_5e6148b3_fk_employees` FOREIGN KEY (`employee_id`) REFERENCES `employees_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offboarding_offboardingchecklist`
--

LOCK TABLES `offboarding_offboardingchecklist` WRITE;
/*!40000 ALTER TABLE `offboarding_offboardingchecklist` DISABLE KEYS */;
INSERT INTO `offboarding_offboardingchecklist` VALUES (1,NULL,'','completed',1,1,1,1,1,'2026-07-16 11:13:33.987450','2026-08-01 06:30:02.598237',1,NULL,0,100),(2,'2026-08-07','resignation','completed',1,1,1,1,1,'2026-07-16 11:45:20.421196','2026-07-17 06:12:30.650863',4,NULL,0,100),(3,NULL,'','pending',1,0,0,0,0,'2026-07-16 11:45:24.133790','2026-07-18 17:30:05.136601',2,NULL,0,16),(4,NULL,'','pending',0,0,0,0,0,'2026-07-24 11:44:32.642610','2026-07-24 11:44:32.642610',7,NULL,0,0),(5,NULL,'','pending',0,1,0,0,0,'2026-07-28 05:58:11.683107','2026-07-28 05:58:11.683107',5,NULL,0,16);
/*!40000 ALTER TABLE `offboarding_offboardingchecklist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offboarding_offboardingtask`
--

DROP TABLE IF EXISTS `offboarding_offboardingtask`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offboarding_offboardingtask` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `task_name` varchar(200) NOT NULL,
  `description` longtext NOT NULL,
  `assigned_to_role` varchar(20) NOT NULL,
  `due_date` date DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `completed_by_id` bigint DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `is_archived` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `offboarding_offboard_completed_by_id_17b94533_fk_users_use` (`completed_by_id`),
  KEY `offboarding_offboard_employee_id_c995bb92_fk_employees` (`employee_id`),
  CONSTRAINT `offboarding_offboard_completed_by_id_17b94533_fk_users_use` FOREIGN KEY (`completed_by_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `offboarding_offboard_employee_id_c995bb92_fk_employees` FOREIGN KEY (`employee_id`) REFERENCES `employees_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offboarding_offboardingtask`
--

LOCK TABLES `offboarding_offboardingtask` WRITE;
/*!40000 ALTER TABLE `offboarding_offboardingtask` DISABLE KEYS */;
/*!40000 ALTER TABLE `offboarding_offboardingtask` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `onboarding_onboardingchecklist`
--

DROP TABLE IF EXISTS `onboarding_onboardingchecklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `onboarding_onboardingchecklist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `offer_letter_uploaded` tinyint(1) NOT NULL,
  `documents_submitted` tinyint(1) NOT NULL,
  `documents_verified` tinyint(1) NOT NULL,
  `background_verification_status` varchar(20) NOT NULL,
  `induction_completed` tinyint(1) NOT NULL,
  `onboarding_completion_percentage` int NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `employee_id` bigint NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `is_archived` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  CONSTRAINT `onboarding_onboardin_employee_id_a613a945_fk_employees` FOREIGN KEY (`employee_id`) REFERENCES `employees_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `onboarding_onboardingchecklist`
--

LOCK TABLES `onboarding_onboardingchecklist` WRITE;
/*!40000 ALTER TABLE `onboarding_onboardingchecklist` DISABLE KEYS */;
INSERT INTO `onboarding_onboardingchecklist` VALUES (1,1,0,0,'pending',0,20,'2026-07-15 05:12:28.190721','2026-07-23 06:56:10.540661',1,NULL,0),(2,0,0,0,'pending',0,0,'2026-07-16 03:40:54.065616','2026-07-16 03:40:54.065616',2,NULL,0),(4,0,0,0,'in_progress',0,0,'2026-07-16 10:26:52.891973','2026-07-16 10:32:08.367856',4,NULL,0),(5,0,0,0,'pending',0,0,'2026-07-19 17:28:21.293876','2026-07-19 17:28:21.293876',8,NULL,0),(6,0,0,0,'pending',0,0,'2026-07-20 04:17:22.850416','2026-07-20 04:17:22.850416',6,NULL,0);
/*!40000 ALTER TABLE `onboarding_onboardingchecklist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `onboarding_onboardingtask`
--

DROP TABLE IF EXISTS `onboarding_onboardingtask`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `onboarding_onboardingtask` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `task_name` varchar(200) NOT NULL,
  `description` longtext NOT NULL,
  `assigned_to_role` varchar(20) NOT NULL,
  `due_date` date DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `completed_by_id` bigint DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `is_archived` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `onboarding_onboardin_completed_by_id_c93f0db3_fk_users_use` (`completed_by_id`),
  KEY `onboarding_onboardin_employee_id_48e06dbf_fk_employees` (`employee_id`),
  CONSTRAINT `onboarding_onboardin_completed_by_id_c93f0db3_fk_users_use` FOREIGN KEY (`completed_by_id`) REFERENCES `users_user` (`id`),
  CONSTRAINT `onboarding_onboardin_employee_id_48e06dbf_fk_employees` FOREIGN KEY (`employee_id`) REFERENCES `employees_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `onboarding_onboardingtask`
--

LOCK TABLES `onboarding_onboardingtask` WRITE;
/*!40000 ALTER TABLE `onboarding_onboardingtask` DISABLE KEYS */;
/*!40000 ALTER TABLE `onboarding_onboardingtask` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_blacklistedtoken`
--

DROP TABLE IF EXISTS `token_blacklist_blacklistedtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_blacklistedtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blacklisted_at` datetime(6) NOT NULL,
  `token_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_id` (`token_id`),
  CONSTRAINT `token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk` FOREIGN KEY (`token_id`) REFERENCES `token_blacklist_outstandingtoken` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_blacklistedtoken`
--

LOCK TABLES `token_blacklist_blacklistedtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` DISABLE KEYS */;
INSERT INTO `token_blacklist_blacklistedtoken` VALUES (1,'2026-06-20 16:58:03.847494',7),(2,'2026-08-01 08:05:07.834171',162),(3,'2026-08-01 08:06:42.862108',168);
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_outstandingtoken`
--

DROP TABLE IF EXISTS `token_blacklist_outstandingtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_outstandingtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `token` longtext NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `expires_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `jti` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq` (`jti`),
  KEY `token_blacklist_outs_user_id_83bc629a_fk_users_use` (`user_id`),
  CONSTRAINT `token_blacklist_outs_user_id_83bc629a_fk_users_use` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=170 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_outstandingtoken`
--

LOCK TABLES `token_blacklist_outstandingtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_user`
--

DROP TABLE IF EXISTS `users_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `role` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_user`
--

LOCK TABLES `users_user` WRITE;
/*!40000 ALTER TABLE `users_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_user_groups`
--

DROP TABLE IF EXISTS `users_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_user_groups_user_id_group_id_b88eab82_uniq` (`user_id`,`group_id`),
  KEY `users_user_groups_group_id_9afc8d0e_fk_auth_group_id` (`group_id`),
  CONSTRAINT `users_user_groups_group_id_9afc8d0e_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `users_user_groups_user_id_5f6f5a90_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_user_groups`
--

LOCK TABLES `users_user_groups` WRITE;
/*!40000 ALTER TABLE `users_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_user_user_permissions`
--

DROP TABLE IF EXISTS `users_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_user_user_permissions_user_id_permission_id_43338c45_uniq` (`user_id`,`permission_id`),
  KEY `users_user_user_perm_permission_id_0b93982e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `users_user_user_perm_permission_id_0b93982e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `users_user_user_permissions_user_id_20aca447_fk_users_user_id` FOREIGN KEY (`user_id`) REFERENCES `users_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_user_user_permissions`
--

LOCK TABLES `users_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `users_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-01 17:09:26
